* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(40, 231, 2), rgb(6, 226, 171), rgb(224, 228, 5), orange);
    font-size: 1em;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    color: black;
}

.periodo {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.periodo img {
    width: 4em;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.data p {
    text-indent: 0.25em;
}

.data p:nth-child(2) {
    text-indent: 0.1em;
}

.horario {
    background-color: rgba(0, 0, 0, 0.200);
    font-size: 2.25em;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
    flex-grow: 1;
}

.fundo-dia {
    background: linear-gradient(rgb(40, 231, 2), rgb(6, 226, 171), rgb(224, 228, 5), orange);
}
.fundo-tarde {
    background: linear-gradient(rgb(248, 80, 2), rgb(226, 138, 6), rgb(224, 228, 5), rgb(214, 228, 92));
}
.fundo-noite {
    background: linear-gradient(rgb(4, 12, 85), rgb(6, 38, 177), rgb(109, 5, 228), rgb(24, 23, 23));
}

@media screen and (min-width: 20em) {
    body {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 27em) {
    body {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 48em){
    body {
        font-size: 2em;
    }
}