body {
    background: linear-gradient(rgb(40, 231, 2), rgb(6, 226, 171), rgb(224, 228, 5), orange);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.central {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    color: black;
}

.periodo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.periodo img {
    width: 150px;
}

.periodo p {
    font-size: 30px;
}

.data {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.data p {
    font-size: 30px;
    text-indent: 9px;
}

.horario {
    background-color: rgba(0, 0, 0, 0.308);
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    width: 500px;
    height: 100px;
}

.horario p {
    font-size: 80px;
}

.fundo-dia {
    background: linear-gradient(rgb(40, 231, 2), rgb(6, 226, 171), rgb(224, 228, 5), orange);
}
.fundo-tarde {
    background: linear-gradient(rgb(248, 80, 2), rgb(226, 138, 6), rgb(224, 228, 5), rgb(214, 228, 92));
}
.fundo-noite {
    background: linear-gradient(rgb(4, 12, 85), rgb(6, 38, 177), rgb(109, 5, 228), rgb(24, 23, 23));
}